.doctor-card-buttonwrap {
  background-color: transparent;
  border: none;
  color: inherit;
  cursor: pointer;
  font: inherit;
  padding: 0;
  width: 90%;
}

.doctor-card-buttonwrap:hover {
  background: #e7efe1;
}

.doctor-card-details {
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.doctor-card-details .doctor-image {
  width: 15rem;
  height: 15rem;
  border-radius: 50%;
  overflow: hidden;
  display: flex;
  justify-content: center;
  align-items: center;
}

.doctor-card-details .doctor-image img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

@media (min-width: 1376px) {
  .doctor-card-buttonwrap {
    background-color: transparent;
    border: none;
    color: inherit;
    cursor: pointer;
    font: inherit;
    padding: 0;
    width: 26%;
    min-width: 26%;
    overflow: hidden;
    display: flex;
    justify-content: center;
    align-items: center;
  }
}
