.doctor-details {
  display: flex;
  flex-direction: column;
  gap: 2rem;
}

@media only screen and (min-width: 768px) {
  .doctor-details {
    flex-direction: row;
    align-items: center;
  }

  .doctor-details .doctor-image {
    flex: 0 0 40%;
    margin-right: 20px;
  }

  .doctor-details .doctor-information {
    flex: 1;
  }
}

.doctor-details .doctor-image img {
  width: 100%;
  height: auto;
  box-shadow: 0 0 5px rgba(0, 0, 0, 0.2);
}

.doctor-details .doctor-information {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 1.5rem;
}

.doctor-details .doctor-information h2 {
  margin: 0;
  font-size: 24px;
  font-weight: bold;
}

.doctor-details .doctor-information h3 {
  margin: 5px 0;
  font-size: 18px;
  font-weight: normal;
}

.doctor-details .doctor-information p {
  margin: 5px 0;
  font-size: 16px;
  color: #555;
}

.doctor-details .book-appointment button {
  margin-top: 10px;
  padding: 10px 20px;
  border: none;
  border-radius: 10rem;
  background-color: #589d1a;
  color: #fff;
  font-size: 16px;
  font-weight: bold;
  cursor: pointer;
}

.doctor-details .book-appointment button:hover {
  background-color: #4b8e18;
  border-radius: 10rem;
}
